.App {
    text-align: center;
    font-size: 15pt;
    background-color: #90ee90;
    margin: 50px auto;
    padding: 5px;
    border: 2px solid #006400;
    display: grid;
    gap: 2px;
    grid-template-columns: 150px 150px;
    grid-template-rows: 30px 30px 30px 50px 30px;
    justify-content: center;
    align-content: center;
    width: 310px;
}

button {
    color: #006400;
    border: none;
    background-color: #90ee90;
}

.start_stop-controls {
    grid-column: 1 / 3;
}

#timer-label {
    grid-column: 1 / 3;
}

#time-left {
    grid-column: 1/3;
}